@import "tailwindcss";

@theme inline {
  --color-background: #fff8eb;
  --color-foreground: #222222;
  --color-primary: #4b5006;
  --font-sans: var(--font-montserrat);
  --font-display: var(--font-playfair);
  --font-brand: var(--font-amsterdam);
}

/* Base styles to enforce the vintage feel */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  color: var(--color-primary);
  font-weight: normal;
}

.font-brand {
  font-family: var(--font-brand) !important;
}
